In [2]:
import pandas as pd
import datetime as dt
f = lambda x: x.date()

In [3]:
days = pd.read_excel('paymentdays.xlsx')
matrix = pd.read_excel('matrix.xlsx')
swapdays = pd.read_excel('swap_days.xlsx') 
futuredays = pd.read_excel('F_days.xlsx')
swapmat = pd.read_excel('swapm.xlsx')

In [4]:
days['date'] = days['days'].dt.to_pydatetime()
swapdays['date'] = swapdays['days'].dt.to_pydatetime()
futuredays['date'] = futuredays['days'].dt.to_pydatetime()
swapmat['date'] = swapmat['days'].dt.to_pydatetime()

In [5]:
days['date'] = days['date'].apply(f)
swapdays['date'] = swapdays['date'].apply(f)
futuredays['date'] = futuredays['date'].apply(f)
swapmat['date'] = swapmat['date'].apply(f)

In [6]:
swdays = swapdays['date'].as_matrix().tolist()
fdays = futuredays['date'].as_matrix().tolist()

In [9]:
swdays = swapdays['date'].as_matrix()

In [72]:
#pd.DataFrame(swdays)

In [13]:
swapmat = swapmat['date'].as_matrix()

In [18]:
swhere = []
for d in swapmat:
    swhere.append(swdays[swdays < d].tolist())

In [69]:
swapmat

array([datetime.date(2014, 10, 3), datetime.date(2015, 10, 5),
       datetime.date(2016, 10, 3), datetime.date(2017, 10, 3),
       datetime.date(2019, 10, 3), datetime.date(2022, 10, 3),
       datetime.date(2027, 10, 4), datetime.date(2032, 10, 4),
       datetime.date(2042, 10, 3)], dtype=object)

In [73]:
swhere

[[datetime.date(2013, 10, 3)],
 [datetime.date(2013, 10, 3), datetime.date(2014, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4),
  datetime.date(2032, 10, 4),
  datetime.date(2033, 10, 4),
  datetime.date(2034, 10, 4),
  datetime.date(2035, 10, 4),
  datetime.date(2036, 10, 4),
  datetime.date(2037, 10, 4),
  datetime.date(2038, 10, 4),
  datetime.date(2039, 10, 4),
  datetime.date(2040, 10, 4),
  datetime.date(2041, 10, 4)]]

In [27]:
paymentdays = days['days'].dt.to_pydatetime()

AttributeError: 'numpy.ndarray' object has no attribute 'date'

In [4]:
paymentdays[20]

datetime.datetime(2024, 10, 3, 0, 0)

In [9]:
matrix['Maturity Dates'][2].to_pydatetime().date()

datetime.date(2013, 1, 3)

In [35]:
pd.DataFrame([(None,2),(2,3)], columns='A')

AssertionError: 1 columns passed, passed data had 2 columns

In [42]:
matrix

   Maturity Dates  Market Quotes   Source
0      2012-10-04         0.0950    LIBOR
1      2012-11-05         0.1160    LIBOR
2      2013-01-03         0.2230    LIBOR
3      2013-04-03         0.4380    LIBOR
4      2013-06-19        99.7860  Futures
5      2013-09-18        99.7520  Futures
6      2013-12-18        99.7230  Futures
7      2014-03-19        99.6690  Futures
8      2014-10-03         0.4750     Swap
9      2015-10-05         0.5860     Swap
10     2016-10-03         0.7520     Swap
11     2017-10-03         0.9420     Swap
12     2019-10-03         1.3244     Swap
13     2022-10-03         1.7390     Swap
14     2027-10-04         2.1650     Swap
15     2032-10-04         2.2800     Swap
16     2042-10-03         2.3320     Swap

In [43]:
matrix['Maturity'] = matrix['Maturity Dates'].dt.to_pydatetime()

In [56]:
matrix.to_pickle("market.p")

In [57]:
pd.read_pickle('market.p')

   Maturity Dates  Market Quotes   Source   Maturity
0      2012-10-04         0.0950    LIBOR 2012-10-04
1      2012-11-05         0.1160    LIBOR 2012-11-05
2      2013-01-03         0.2230    LIBOR 2013-01-03
3      2013-04-03         0.4380    LIBOR 2013-04-03
4      2013-06-19        99.7860  Futures 2013-06-19
5      2013-09-18        99.7520  Futures 2013-09-18
6      2013-12-18        99.7230  Futures 2013-12-18
7      2014-03-19        99.6690  Futures 2014-03-19
8      2014-10-03         0.4750     Swap 2014-10-03
9      2015-10-05         0.5860     Swap 2015-10-05
10     2016-10-03         0.7520     Swap 2016-10-03
11     2017-10-03         0.9420     Swap 2017-10-03
12     2019-10-03         1.3244     Swap 2019-10-03
13     2022-10-03         1.7390     Swap 2022-10-03
14     2027-10-04         2.1650     Swap 2027-10-04
15     2032-10-04         2.2800     Swap 2032-10-04
16     2042-10-03         2.3320     Swap 2042-10-03

In [27]:
paymentdays[1] - paymentdays[0]

datetime.timedelta(32)

In [52]:
paymentdays[3].date()

datetime.date(2013, 3, 20)

In [65]:
P = [[None],[None],[None],[None]]+[[fdays[i]] for i in range(len(fdays))]+[swhere[i] for i in range(len(swapmat))]

In [66]:
P

[[None],
 [None],
 [None],
 [None],
 [datetime.date(2013, 3, 20)],
 [datetime.date(2013, 6, 19)],
 [datetime.date(2013, 9, 18)],
 [datetime.date(2013, 12, 18)],
 [datetime.date(2013, 10, 3)],
 [datetime.date(2013, 10, 3), datetime.date(2014, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4),
  datetime.date(2032, 10, 4),
  datetime.date(2033, 10, 4),
  datetime.date(2034, 10, 4),
  datetime.date(2035, 10, 4),
  datetime.date(2036, 10, 4),
  datetime.date(2037, 10, 4),
  datetime.date(2038, 10, 4),
  datetime.date(2039, 10, 4),
  datetime.date(2040, 10, 4),
  datetime.date(2041, 10, 4)]]

In [23]:
[swhere[i] for i in range(len(swapmat))]

[[datetime.date(2013, 10, 3)],
 [datetime.date(2013, 10, 3), datetime.date(2014, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4),
  datetime.date(2032, 10, 4),
  datetime.date(2033, 10, 4),
  datetime.date(2034, 10, 4),
  datetime.date(2035, 10, 4),
  datetime.date(2036, 10, 4),
  datetime.date(2037, 10, 4),
  datetime.date(2038, 10, 4),
  datetime.date(2039, 10, 4),
  datetime.date(2040, 10, 4),
  datetime.date(2041, 10, 4)]]

In [36]:
pp= pd.DataFrame(list(range(len(P))), columns=['p_index'])

[None]

In [49]:
new = pd.concat(matrix, matrix) #,join='inner')

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [37]:
P

[[None],
 [None],
 [None],
 [None],
 datetime.date(2013, 3, 20),
 datetime.date(2013, 6, 19),
 datetime.date(2013, 9, 18),
 datetime.date(2013, 12, 18),
 [datetime.date(2013, 10, 3)],
 [datetime.date(2013, 10, 3), datetime.date(2014, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4)],
 [datetime.date(2013, 10, 3),
  datetime.date(2014, 10, 3),
  datetime.date(2015, 10, 5),
  datetime.date(2016, 10, 3),
  datetime.date(2017, 10, 3),
  datetime.date(2018, 10, 3),
  datetime.date(2019, 10, 3),
  datetime.date(2020, 10, 3),
  datetime.date(2021, 10, 3),
  datetime.date(2022, 10, 3),
  datetime.date(2023, 10, 3),
  datetime.date(2024, 10, 3),
  datetime.date(2025, 10, 3),
  datetime.date(2026, 10, 3),
  datetime.date(2027, 10, 4),
  datetime.date(2028, 10, 4),
  datetime.date(2029, 10, 4),
  datetime.date(2030, 10, 4),
  datetime.date(2031, 10, 4),
  datetime.date(2032, 10, 4),
  datetime.date(2033, 10, 4),
  datetime.date(2034, 10, 4),
  datetime.date(2035, 10, 4),
  datetime.date(2036, 10, 4),
  datetime.date(2037, 10, 4),
  datetime.date(2038, 10, 4),
  datetime.date(2039, 10, 4),
  datetime.date(2040, 10, 4),
  datetime.date(2041, 10, 4)]]

In [50]:
import pickle

In [67]:
pickle.dump(P, open( "P.p", "wb" ) )

In [52]:
P2 = pickle.load( open( "P.p", "rb" ) )

In [54]:
P2[0]

[None]

In [61]:
for index, row in matrix.iterrows():
    print(row['Maturity'].date())

2012-10-04
2012-11-05
2013-01-03
2013-04-03
2013-06-19
2013-09-18
2013-12-18
2014-03-19
2014-10-03
2015-10-05
2016-10-03
2017-10-03
2019-10-03
2022-10-03
2027-10-04
2032-10-04
2042-10-03